terratowns_endpoint="https://terratowns.cloud/api"
#bucket_name = "cyberinsight-terraform-bootcamp"
bootcamp = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/bootcamp"
  content_version = 1
}
azure = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/azure"
  content_version = 1 
}